@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
body{
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0;
	background: #eeeeee;
	height: auto;
}
h1{
	font-family: 'Amethysta', serif;
	font-weight: 400;
	font-size: 2.5rem;
	text-transform: uppercase;
	margin: 0;
	color: #333;

}
h2 {
	font-family: 'Playfair Display', serif;

	font-weight: 400;
	font-size: 1.2rem;
	text-transform: capitalize;
	margin: 0;
	text-align: left;
	padding-left: 15px;
}

img{
	display: block;
	width: 100%;

}

img:hover{
    color: #424242; 
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  opacity: 1;
  transform: scale(1.15);
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari and Chrome */

}

main {
	max-width: 900px;
	margin: auto;
	box-shadow: 30px 0px 40px rgba(0,0,0,0.1), -30px 0px 40px rgba(0,0,0,0.4);
}
#landing {
	background: whitesmoke;
}
#landing-text {
	display: flex;
	flex: 0 1 40vw;
	height: 50vh;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-right: 1rem;
	padding-left: 1rem;
}

#landing-text h2 {
	color:	#888;
}
#landing-image {
	background: url(./photos/random/dryLeaf.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 50vh;
	flex: 0 1 60vw;
	margin: 0;
}

.btn {
	padding: 0.5rem 2rem;
	border: 1px powderblue solid;
	display: inline-block;
	margin: 2rem 0 0;
	border-radius: 50px;
	text-decoration: none;
	color: powderblue;
	transition: background 500ms ease;
}

.btn:hover {
	/* background: white; */
	background-color: #21D4FD;
	background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
	;
}

#social-icons {
	margin: 2rem;
	cursor: pointer;
	align-items: center;
}
#social-icons a {
	color: powderblue;
	padding-left: 1rem;
}

#gallery-menu {
	padding: 1.5rem;
	text-align: center;
	background: powderblue;
	color:#333;
}
.textTyping{
	font-family: 'Amethysta', serif;
	font-size: 2rem;
	text-align: center;
	padding: 3.5rem;
	/* display: flex; */
	background: powderblue;
	color: white;
}
.typing{
	font-size: 2rem;
	font-family: 'Amethysta', serif;
	margin-left: 8px;
}
.typing::after{
	content:"";
	position: absolute;
	width: 1px;
	height: 3%;
	border-right: 2px solid white;
	animation: blink 0.7s infinite ease;

}
@keyframes blink{
	0%{
		opacity: 0;

	}
	100% {
		opacity: 1;
	}
}

#gallery-menu .btn {
	border: 1px whitesmoke solid;
	display: inline-block;
	margin: 2rem 1.5rem 0rem;
	border-radius: 50px;
	text-decoration: none;
	
}


.caption{
	padding: 0.8rem;
	text-align: center;

}

footer {
	text-align: center;
	padding: 2rem 1rem;
	margin: auto;
	color: #333;
}

footer h3 {
	font-size: 3rem;
	margin-bottom: 0;
}


/*screen sizes 500px and up */

@media(min-width: 500px) {
	#landing {
		display: flex;
		height: 100%;
	}

	#landing-text {
		height: 100vh;
	}
	#landing-image {
		height: 100vh;
	}
}

/*screen sizes 700px and up */

@media (min-width: 700px) {
	.btn{
	padding: 1rem 3rem;
	}
}