body{
	margin: 0;
	padding: 0;
	font-family: poppins;	
}

html{
	scroll-behavior: smooth;
}

/* Navbar goes below here: */
.navbar{
	position: fixed;
	min-height: 8vh;
	background-color: #24355c;
	font-family: 'Abril+Fatface', sans-serif;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	height: 70px;
	z-index: 1;	
}
.nav-links{
	display: flex;
	justify-content: right;
	list-style: none;
	margin-right: 12%;
}
.logo{
	flex: 1 1 auto;
	margin-left: 7%;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 30px; 
}
a{
	margin: 10px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}
a:hover{
color: black;
}

/* Banner Area / Home page goes below here:*/

.banner-area {
	position: relative;
	background-image: url(images/lake.jpg);
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.fade::after{
    content: 'In the beginning...';
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.fade:hover::after{
    opacity: 0.5;

}

/* Body Sections goes below here:- */

.about-area, .portfolio-area, .contact-area {
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	height: 700px;
} 

.text-part{
	width: 65%;
	height: 80%;

}
h1{
	font-size: 50px;

}
p{
	font-size: 30px;
	line-height: 40px;
}

/* footer Section goes below here: */
footer{
    background-color: #24355c;
    height: 115px;
 }

.footer{   

    font-size: 10px;
    text-align: center;  
    width: 100%;
    height: 125px;  
}

footer > .footer-copyright{
    color: white;
    font-size: 15px;
    text-decoration: none;
    padding-left: 50px;
    
}

